/* Reset */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

* {
  margin: 0;
  padding: 0;
}

input,
h1,
h2,
h3,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

::placeholder {
  color: #b8b8b8;
  font-size: var(--font-s-sm);
}

html {
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

h1 {
  font-family: var(--font-family);
  font-size: var(--font-s-lg);
  font-weight: var(--font-w-medium);
  margin: 0 0 2rem 0;
}

h4 {
  font-family: var(--font-family);
  font-size: var(--font-s-sm);
  font-weight: var(--font-w-regular);
  line-height: 148%;
}

label {
  font-family: var(--font-family);
  font-size: var(--font-s-m);
  font-weight: var(--font-w-medium);
}

/* Root variables */
:root {
    /* font-family */
    --font-family: "Roboto", sans-serif;
  /* font-color */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #6B6B6B;
  --color-medium-grey: #A4A4A4;
  --color-light-grey: #EAEAEA;
  --color-medium-blue: #4762AE;
  --color-dark-blue: #252C46;
  --color-red: #EA4A4A;
  --color-light-red: #FFE2E2;
  --color-green: #5EBC4F;
  --color-light-green: #CCFFC2;
  /* font-s = font-size */
  --font-s-4xl: 3rem;
  --font-s-3xl: 2.5rem;
  --font-s-2xl: 2rem;
  --font-s-lg: 1.5rem;
  --font-s-m: 1rem;
  --font-s-sm: 0.875rem;
  /* font-w = font-weight */
  --font-w-black: 900;
  --font-w-xbold: 800;
  --font-w-bold: 700;
  --font-w-medium: 500;
  --font-w-regular: 400;
  --font-w-light: 300;
}

/* container */

.container {
  display: flex;
  flex-direction: row;
  background-color: var(--color-light-grey);
}

/* nav */

.nav {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-blue);
  font-family: var(--font-family);
  color: var(--color-light-grey);
  max-width: 230px;
  min-width: 230px;
  padding: 3rem;
}

.nav-logo {
  font-size: 30px;
}

.nav-infoGrupo {
  margin-top: auto;
}

.nav-socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.nav-botoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  font-weight: var(--font-w-medium);
  font-size: var(--font-s-m);
}

.nav-botao {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  text-align: left;
  padding: 1rem;
}

.fa-chevron-right {
  margin-left: auto;
}

.nav-botao:hover {
  background: var(--color-medium-blue);
  transition: all 0.3s;
}

/* app */

.app {
  margin: 3rem 3rem 4rem 3rem;
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.4fr 1fr 2fr;
  /* grid-auto-rows: auto; */
  grid-template-areas:
    "app-data app-data"
    "app-overview app-overview"
    "app-graf--despesas app-graf--receitas"
    "app-despesas app-receitas";
}

/* app card data*/

.app-data {
  grid-area: app-data;
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 1rem;
}

/* app card visao geral*/

.app-overview {
  grid-area: app-overview;
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 1rem;
}

/* app card grafico despesas*/

.app-graf--despesas {
  grid-area: app-graf--despesas;
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 1rem;
}

/* app card grafico receitas*/

.app-graf--receitas {
  grid-area: app-graf--receitas;
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 1rem;
}

/* app card despesas*/

.app-despesas {
  grid-area: app-despesas;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-white);
  border-radius: 1px;
  padding: 1rem;
}

.input {
  font-family: var(--font-family);
  color: var(--color-black);
  border-radius: 12px;
  padding-left: 1rem;
  height: 38px;
  border: 1px solid var(--color-grey);
  margin: 3px 0 1rem 0;
}

.botao {
  font-family: var(--font-family);
  font-weight: var(--font-w-medium);
  font-size: var(--font-s-2m);
  background: var(--color-medium-blue);
  color: var(--color-light-grey);
  border-radius: 12px;
  border: none;
  height: 38px;
  margin-top: 1rem;
  padding: 0 1rem 0 1rem;
}

.botao:hover {
  background: var(--color-dark-blue);
  color: var(--color-light-grey);
  transition: all 0.3s;
  cursor: pointer;
}

.despesas-lista {
  font-family: var(--font-family);
  line-height: calc(100% + 1rem);
  font-size: var(--font-s-2m);
  width: 400px;
  margin: 2rem auto 0rem auto;
  border-radius: 12px;
}

/* app card receitas*/

.app-receitas {
  grid-area: app-receitas;
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 1rem;
}

/* Visão Março */

#visionMarço {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.divisionBalance {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#positionIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;

}

#descriptionValue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
}

#valuePositive{
  margin: 0;
}

#descriptionH4{
  color: var(--color-grey);
}
#negative{
  color: var(--color-red);
}
#positive{
  color: var(--color-green);
}
#estavel{
  color: var(--color-grey);
}



.modal-background {
  font-family: var(--font-family);
  color: var(--color-grey);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #252C4699;
}

.popup-despesas {
  background-color: #FFFFFF;
  margin: 15% auto;
  padding: 20px;
  width: 400px;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.popup-receitas {
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.botao {
  background-color: #4CAF50; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin-bottom: 10px; 
}

.botao:hover {
  background-color: #45a049; 
}