/* Reset */
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

* {
  margin: 0;
  padding: 0;
}

input,
h1,
h2,
h3,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

::placeholder {
  color: #b8b8b8;
  font-size: var(--font-s-sm);
}

html {
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

h1 {
  font-family: var(--font-family);
  font-size: var(--font-s-lg);
  font-weight: var(--font-w-medium);
  margin: 0 0 2rem 0;
}

h4 {
  font-family: var(--font-family);
  font-size: var(--font-s-sm);
  font-weight: var(--font-w-regular);
  line-height: 148%;
}

label {
  font-family: var(--font-family);
  font-size: var(--font-s-m);
  font-weight: var(--font-w-medium);
}


/* Root variables */
:root {
  /* font-family */
  --font-family: "Roboto", sans-serif;
  /* font-color */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #6B6B6B;
  --color-medium-grey: #A4A4A4;
  --color-light-grey: #EAEAEA;
  --color-medium-blue: #4762AE;
  --color-dark-blue: #252C46;
  --color-red: #EA4A4A;
  --color-light-red: #FFE2E2;
  --color-green: #5EBC4F;
  --color-light-green: #CCFFC2;
  /* font-s = font-size */
  --font-s-4xl: 3rem;
  --font-s-3xl: 2.5rem;
  --font-s-2xl: 2rem;
  --font-s-lg: 1.5rem;
  --font-s-m: 1rem;
  --font-s-sm: 0.875rem;
  /* font-w = font-weight */
  --font-w-black: 900;
  --font-w-xbold: 800;
  --font-w-bold: 700;
  --font-w-medium: 500;
  --font-w-regular: 400;
  --font-w-light: 300;
}

/* container */

.container {
  display: flex;
  flex-direction: row;
  background-color: var(--color-light-grey);
  height: 100vh;
}

/* nav */

.nav {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-blue);
  font-family: var(--font-family);
  color: var(--color-light-grey);
  max-width: 230px;
  min-width: 230px;
  padding: 3rem;
}

.nav-logo {
  font-size: 30px;
}

.nav-infoGrupo {
  margin-top: auto;
}

.nav-socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.nav-botoes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  font-weight: var(--font-w-medium);
  font-size: var(--font-s-m);
}

.nav-botao {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  text-align: left;
  padding: 1rem;
}

.fa-chevron-right {
  margin-left: auto;
}

.nav-botao:hover {
  background: var(--color-medium-blue);
  transition: all 0.3s;
}

/* app */

.app {
  padding: 3rem 3rem 4rem 3rem;
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.4fr 1fr 2fr;
  /* grid-auto-rows: auto; */
  grid-template-areas:
    "app-data app-data"
    "app-overview app-overview"
    "app-graf--despesas app-graf--receitas"
    "app-despesas app-receitas";
}

/* app card seletor*/

.app-seletor {
  grid-area: app-data;
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  gap: 15px;
}

#m-ano_filtro {
  font-weight: var(--font-w-bold);
  font-size: 20px;
  background-color: var(--color-white);
  border: none;
  border-radius: 12px;
  padding: 10px;
  width: 150px;
}

#m-mes_filtro {
  font-weight: var(--font-w-bold);
  font-size: 20px;
  background-color: var(--color-white);
  border: none;
  border-radius: 12px;
  padding: 10px;
  width: 150px;
}

/* app card overview */

.app-overview {
  grid-area: app-overview;
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 1rem 0 1rem 0;
  height: fit-content;
}

.overview-despesas {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}

.overview-cabecalho-texto {
  font-size: 14px;
  font-weight: var(--font-w-regular);
  color: var(--color-grey);
}

.overview-despesas-numero {
  font-size: 20px;
  font-weight: var(--font-w-bold);
  color: var(--color-red);
}

.overview-receitas {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.overview-receitas-numero {
  font-size: 20px;
  font-weight: var(--font-w-bold);
  color: var(--color-green);
}

.overview-balanco {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

.overview-balanco-numero {
  font-size: 20px;
  font-weight: var(--font-w-bold);
  color: var(--color-grey);
}



/* app card grafico despesas*/

.app-graf--despesas {
  grid-area: app-graf--despesas;
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 1rem;
}

#chart_expenses {
  max-width: 100%;
}

/* app card grafico receitas*/

.app-graf--receitas {
  grid-area: app-graf--receitas;
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 1rem;
}

#chart_incomes {
  max-width: 100%;
}

/* app card despesas*/

.app-despesas {
  grid-area: app-despesas;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  height: fit-content;
  gap: 1rem;
}

.despesas-heading {
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.despesas-botao-add-icone {
  color: var(--color-red);
  display: flex;
  align-items: center;
  gap: 12px;
}

.despesas-botao-add-texto {
  font-size: 20px;
  font-weight: var(--font-w-medium);
}

.fa-circle-plus {
  font-size: 45px;
}

.fa-circle-plus:hover,
.fa-circle-plus:hover {
  transition: all 0.3s ease;
  transform: scale(1.2) rotate(90deg);
  cursor: pointer;
}

.despesas-busca {
  background-color: var(--color-white);
  font-weight: var(--font-w-regular);
  color: var(--color-grey);
  padding: 0 5px 0 12px;
  border-radius: 12px;
}

#m-search_expenses {
  border: none;
  margin: 0 10px 0 10px;
  padding: 5px 0 5px 5px;
}

.app-despesas-lista {
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 12px;
}

/* app card receitas*/

.app-receitas {
  grid-area: app-receitas;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  height: fit-content;
  gap: 1rem;
}

.receitas-heading {
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.receitas-botao-add-icone {
  color: var(--color-green);
  display: flex;
  align-items: center;
  gap: 12px;
}

.receitas-botao-add-texto {
  font-size: 20px;
  font-weight: var(--font-w-medium);
}

.receitas-busca {
  background-color: var(--color-white);
  font-weight: var(--font-w-regular);
  color: var(--color-grey);
  padding: 0 5px 0 12px;
  border-radius: 12px;
}

#m-search_incomes {
  border: none;
  margin: 0 10px 0 5px;
  padding: 5px 0 5px 10px;
}

.app-receitas-lista {
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 12px;
}

/* Lista de receitas e despesas */

table {
  font-family: var(--font-family);
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  font-weight: var(--font-w-regular);
  font-size: var(--font-s-sm);
  color: var(--color-medium-grey);
  margin: 0 30px 13px 0;
}

th,
td {
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #eaeaea;
}

.tabela-descricao {
  font-weight: var(--font-w-bold);
}

.tabela-acoes {
  display: flex;
  gap: 5px;
}

.tabela-botao-acao {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tabela-botao-acao.editar {
  color: var(--color-black);
}

.tabela-botao-acao.editar:hover {
  background-color: var(--color-medium-grey);
  color: var(--color-white);
}

.tabela-botao-acao.excluir {
  color: var(--color-red);
}

.tabela-botao-acao.excluir:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}


/* Modal add receitas/despesas */

.modal-container {
  font-family: var(--font-family);
  color: var(--color-grey);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #252C4699;
}

.modal1 {
  background-color: var(--color-white);
  margin: 15% auto;
  padding: 20px;
  width: 400px;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: fit-content;
}

.modal1 form {
  display: flex;
  flex-direction: column;
}

.modal1 input, select {
  color: var(--color-black);
  border-radius: 12px;
  padding: 0 1rem 0 1rem;
  height: 38px;
  border: 1px solid var(--color-grey);
  margin-bottom: 10px;
}

.modal1 label {
  font-size: 14px;
  width: 100%;
  margin-bottom: 5px;
}

.modal1-titulo {
  font-weight: var(--font-w-medium);
  font-size: 18px;
  margin-bottom: 1rem;
}

.btnSalvar {
  font-weight: var(--font-w-medium);
  font-size: var(--font-s-2m);
  background: var(--color-medium-blue);
  color: var(--color-light-grey);
  border-radius: 12px;
  border: none;
  margin-top: 10px;
  height: 38px;
  width: 100px;
  padding: 0 1rem 0 1rem;
  float: right;
}

.btnSalvar:hover {
  background: var(--color-dark-blue);
  color: var(--color-light-grey);
  transition: all 0.3s;
  cursor: pointer;
}

.active {
  display: flex;
}

.active .modal1 {
  animation: modal .4s;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}